# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Logs
*.log
logs/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Kubernetes
*.kubeconfig

# Docker
*.tar

# Backup files
*.bak
*.tmp

# Misc
*.swp
